<!DOCTYPE html>
<html lang="pt-BR" ng-app="clinicaApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-navbutton-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <title>Clínica Odontológica</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Favicons -->
    <link rel="icon" type="image/svg+xml" href="assets/img/icons/favicon.svg">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/icons/favicon-16x16.png">
    <link rel="icon" href="assets/img/icons/favicon.ico" sizes="any">
    <link rel="manifest" href="assets/img/icons/site.webmanifest">

    <!-- AngularJS -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers/mainController.js"></script>
    <script src="app/services/analyticsService.js"></script>
    <script src="app/directives/puzzleEffect.js"></script>
</head>

<body ng-controller="MainController">
    <aside>
        <input id="close-menu" class="close-menu" type="checkbox" aria-label="Close menu" role="button" ng-model="menuOpen">
        <label class="close-menu-label" ng-click="toggleMenu($event)" title="close menu">☰</label>
        <div class="menu white-bg" id="header" ng-class="{'shrink': shrinkHeader}">
            <div class="main-content menu-content">
                <h1 ng-click="closeMenu()" class="Logo">
                    <a href="#home" id="logo-link" ng-click="scrollToTop($event)">
                        <img src="assets/img/Logo.jpg" alt="Logo" class="logo">
                    </a>
                </h1>
                <nav>
                    <ul ng-click="closeMenu()">
                        <li><a href="#tratamentos" class="destaque" ng-click="scrollToSection('tratamentos', $event); activateTab('2', $event)">Procedimentos</a></li>
                        <li><a href="#resultados" class="destaque" ng-click="scrollToSection('resultados', $event)">Resultados</a></li>
                        <li><a href="#contato" class="destaque" ng-click="scrollToSection('contato', $event)">Contato</a></li>
                    </ul>
                </nav>
                <label class="menu-toggle" ng-click="toggleMenu($event)">
                    <div class="menu-icon"></div>
                </label>
            </div>
        </div>
    </aside>

    <section id="home" class="intro main-bg section">
        <div class="intro-content">
            <div class="intro-img">
                <img src="assets/img/Clinica.jpg" alt="Imagem da Clínica">
            </div>
            <div class="intro-text-overlay">
                <h1>Romeiro e Lacerda</h1>
                <p>
                    <span class="text-bege">Estética e Reabilitação Oral</span>
                </p>
            </div>
        </div>
    </section>

    <section id="resultados" class="white-bg section">
        <div class="main-content grid-one-content">
            <div class="grid-two-columns">
                <div class="left-column">
                    <h2 class="grid-main-heading">Resultados</h2>
                </div>
                <div class="right-column">
                    <p class="grid-description">
                        Explore nossa galeria para ver os resultados impressionantes das lentes em resina aplicadas
                        pelos nossos especialistas. Cada sorriso é uma prova do nosso compromisso com a estética e a
                        qualidade, mostrando como nossas facetas em resina podem transformar seu visual com naturalidade
                        e brilho.
                    </p>
                </div>
            </div>
            <div class="image-grid">
                <div class="image-item" ng-repeat="image in resultadosImages">
                    <img ng-src="{{image.src}}" alt="{{image.alt}}" paint-effect>
                </div>
            </div>
            <div class="agenda-button-container">
                <a href="https://wa.me/5531991242925?text=Vim%20pelo%20site%20Romeiro%20e%20Lacerda.%20Quero%20transformar%20meu%20sorriso!"
                    class="agenda-button" target="_blank" ng-click="trackWhatsAppClick('Resultados')">
                    <i class="fab fa-whatsapp"></i> Agenda Aberta
                </a>
            </div>
        </div>
    </section>

    <section id="lentes" class="white-bg section">
        <div class="main-content">
            <div class="lentes-title-container">
                <h1 class="lentes-title">
                    <a href="https://wa.me/5531991242925?text=Vim%20pelo%20site%20Romeiro%20e%20Lacerda.%20Quero%20transformar%20meu%20sorriso!"
                        target="_blank" ng-click="trackWhatsAppClick('Lentes de Resina')">Lentes de Resinas</a>
                </h1>
            </div>
            <div class="lentes-grid">
                <div class="lentes-left">
                    <h2 class="lentes-subtitle">O que é?</h2>
                    <p class="lentes-text">
                        As lentes em resina são finas camadas de resina compostas aplicadas sobre a superfície dos
                        dentes para melhorar a estética e corrigir imperfeições. Elas são projetadas para criar um
                        sorriso mais harmonioso e natural, cobrindo manchas, desgastes ou pequenas falhas dentárias. O
                        procedimento é minimamente invasivo, proporcionando resultados rápidos e personalizados com um
                        acabamento de alta qualidade. Além de aprimorar a aparência do sorriso, as lentes em resina são
                        duráveis e oferecem uma solução eficiente para melhorar a estética dental.
                    </p>
                    <div class="lentes-images">
                        <div class="lentes-image-item">
                            <img src="assets/img/Foto-3 sorriso.jpg" alt="Lente 1" paint-effect>
                        </div>
                    </div>
                </div>

                <div class="lentes-right">
                    <h2 class="lentes-tipos-title">Tipos de Lentes de Resina</h2>
                    <div class="lentes-tipo-box" ng-repeat="tipo in tiposLentes" ng-click="toggleTexto($event)">
                        <h3 class="lentes-tipo-subtitle" id="{{tipo.id}}" ng-class="{'active': tipo.active}">{{tipo.titulo}}</h3>
                        <p class="hidden-texto" ng-class="{'show-texto': tipo.active}">{{tipo.texto}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="tratamentos" class="white-bg section">
        <div class="main-content">
            <h2 class="tratamentos-title"><span>outros</span><br> tratamentos</h2>
            <p class="tratamentos-text">
                Além das facetas em resina e porcelana, oferecemos uma<br>
                gama completa de serviços odontológicos.
            </p>
            <div class="tratamentos-content">
                <div class="tratamentos-left">
                    <div class="tabs">
                        <div class="tabs-buttons">
                            <button class="tab-button" ng-class="{'active': tab.active}" ng-repeat="tab in tabs" ng-click="setActiveTab(tab.id)">{{tab.title}}</button>
                        </div>

                        <div class="tabs-content">
                            <div ng-repeat="tab in tabs" 
                                 id="tab-{{tab.id}}" 
                                 class="tab-content"
                                 ng-class="{'active': tab.active}"
                                 ng-bind-html="tab.content">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tratamentos-img">
                    <img src="assets/img/Imagem-clinico.png" alt="Outros Tratamentos" paint-effect>
                </div>
            </div>
        </div>
    </section>

    <section id="contato" class="intro main-bg section">
        <div class="avaliacao-container">
            <p class="text-avaliacao">Faça uma avaliação aqui</p>
        </div>
        <div class="main-content intro-content">
            <div class="intro-text-content">
                <h2 class="text">Seu sorriso é nossa prioridade. Transforme-o com a nossa expertise e confiança</h2>
                <div class="contact-info">
                    <a href="https://wa.me/5531991242925?text=Vim%20pelo%20site%20Romeiro%20e%20Lacerda.%20Quero%20transformar%20meu%20sorriso!"
                        class="whatsapp-button" target="_blank" ng-click="trackWhatsAppClick('Contato')">
                        <i class="fab fa-whatsapp"></i> (31) 99124-2925
                    </a>
                    <p class="horarios">
                        Segunda a sexta das 8:00 às 18:00<br>
                        Sábado das 8:00 às 15:00
                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer" class="footer white-bg">
        <div class="footer-container">
            <div class="footer-column">
                <img src="assets/img/Logo.jpg" alt="Logo romeiro e lacerda" class="footer-logo">
                <p>ROMEIRO E LACERDA ODONTOLOGIA LTDA<br>
                    50.890.310/0001-05<br>
                    <br>CRO-MG 58624
                </p>
            </div>
            <div class="footer-column">
                <p><strong>UNIDADE MINAS GERAIS
                        <br> CNPJ:</strong><br> 60.622.338/0001-07</p>
                Rua Santa Catarina, 1627, sala 603<br>
                Belo Horizonte - MG<br>
                CEP: 30170-081<br><br>
                <strong>(31) 991242925</strong></p>
            </div>
            <div class="footer-column">
                <a href="https://www.instagram.com/romeiroelacerdadentista/" target="_blank"
                    rel="noopener noreferrer" ng-click="trackWhatsAppClick('Instagram Footer')">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </footer>
</body>

</html>