<section class="white-bg section">
    <div class="main-content">
        <div class="resultados-container">
            <div class="resultados-left">
                <h2 class="resultados-title">{{resultados.title}}</h2>
            </div>
            <div class="resultados-right">
                <p class="resultados-description">{{resultados.description}}</p>
            </div>
        </div>
        <div class="image-grid">
            <div class="image-item" ng-repeat="img in resultados.images">
                <img ng-src="{{img.src}}" alt="{{img.alt}}" class="alternate-element" ng-class="$index % 2 === 0 ? 'alternate-from-left' : 'alternate-from-right'">
            </div>
        </div>
        <div class="agenda-button-container">
            <a ng-href="https://wa.me/5531991242925?text=Vim%20pelo%20site%20Dr%20Pedro%20Romeiro.%20Quero%20transformar%20meu%20sorriso!"
                class="agenda-button" target="_blank" ng-click="trackWhatsAppClick('Resultados')">
                <i class="fab fa-whatsapp"></i> Agenda Aberta
            </a>
        </div>
    </div>
</section> 